@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    font-family: 'Poppins', sans-serif !important;

    --black: #000000;
    --white: #FFFFFF;
    --gray: #222223;
    --red: #F74D4D;
}

html {
    scroll-behavior: smooth;
    overflow-x:hidden !important;
}

body {
    background-color: var(--black) !important;
    color: var(--white) !important;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 466px) {
    .logo {
        display: block;
        color: var(--red);
        font-size: 7vh;
        cursor: pointer;
        font-weight: 900;
        font-style: italic;
    }    
}

@media screen and (min-width: 467px) {
    .logo {
        display: block;
        color: var(--red);
        font-size: 10vh;
        cursor: pointer;
        font-weight: 900;
        font-style: italic;
    }    
}

.btn-download {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding: 10px 20px;
    max-height: 40px;
    line-height: 1em;
    border-radius: 8px;
    font-weight: 600;
    display: inline-flex;
    background-color: var(--red) !important;
    border-color: var(--red) !important;
}

.btn-download .icon {
    margin-right: 0.2em;
}

.icon .icon-spaced {
    margin-right: 0.25em;
}

.icon {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: text-top;
}

.text-left {
    text-align: left;
}